 * {
        margin: 0;
        padding: 0;
      }

      body {
        background: #dbd8e3;
      }

      /* Elements */
      h1 {
        border: 4px #5c5470 ridge;
        border-radius: 2em;
        text-align: center;
        padding: 15px 0;
        margin: 0 30px;
        color: #dbd8e3;
        background-color: #2a2438;
        font-family: "Courgette", cursive;
        transition: all 1000ms ease-in-out;
      }

      h1:hover {
        color: #2a2438;
        background-color: #dbd8e3;
      }

      h2 {
        color: #dbd8e3;
        text-align: center;
        margin: 20px auto;
        font-family: "Courgette", cursive;
      }

      p {
        color: white;
        margin: 10px 24px;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        font-family: "Bad Script", cursive;
      }

      img {
        margin: 0 auto;
      }

      li {
        list-style-type: none;
      }

      button {
        border: 3px groove #dbd8e3;
        border-radius: 15px;
        color: white;
        background-color: #5c5470;
        display: block;
        font-size: 18px;
        font-family: "Pacifico", cursive;
        text-align: center;
        margin: 12px auto;
        padding: 12px 30px;
        width: 80%;
        transition: all 200ms ease-in-out;
      }

      button:hover {
        background: linear-gradient(
          90deg,
          rgb(29, 189, 94) 0%,
          rgb(139, 102, 241) 100%
        );
        cursor: pointer;
      }

      footer {
        display: block;
        color: #dbd8e3;
        font-family: "Bad Script", cursive;
        text-align: center;
        margin: 10px auto 5px;
        padding: 10px 0;
      }

      span {
        font-family: "Courgette", cursive;
        font-weight: bold;
      }

      /* Class */
      .container {
        background: linear-gradient(
          109.6deg,
          rgb(36, 45, 57) 11.2%,
          rgb(16, 37, 60) 51.2%,
          rgb(0, 0, 0) 98.6%
        );
        border-radius: 30px;
        box-shadow: 16px 22px 18px rgba(42, 36, 56, 0.5);
        margin: 30px 40px;
        padding: 20px 40px;
      }

      #survey {
        background: linear-gradient(
          90deg,
          rgb(252, 115, 158) 0%,
          rgb(139, 102, 241) 100%
        );
      }

      #survey:hover {
        background: linear-gradient(
          90deg,
          rgb(115, 252, 247) 0%,
          rgb(139, 102, 241) 100%
        );
      }

      .logo {
        width: 200px;
        margin: 20px auto;
        border-radius: 50%;
        display: block;
      }

      .group,
      .members {
        text-align: center;
        margin: 20px auto;
        padding: 0 10%;
      }

      .group img {
        display: inline;
        height: 360px;
        margin: 10px auto;
        border-radius: 4px;
      }

      .left,
      .right {
        margin-top: -12em;
      }

      .left {
        float: left;
      }

      .right {
        float: right;
      }

      .left img,
      .right img {
        height: 240px;
        margin: 10px auto;
        border-radius: 10px;
        transition: all 100ms ease-in-out;
      }

      .left img:hover,
      .right img:hover {
        opacity: 0.5;
      }

      .discography {
        margin: 0 300px 2em;
        display: block;
      }

      .discography a {
        text-decoration: none;
      }

      .discography a:hover {
        color: #1db954;
      }